body{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    font-weight: 300;
    background-color: lightgrey;
 }
 .continer {
    box-sizing: border-box;
    border: solid #eae2e2 1px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 0 13px rgba(88, 85, 85, 0.2)
}
.txt {
    width: 97%;
    height: 7%;
    padding-top: 20px;
    margin-top: 20px;
    margin: 2%;
    border-radius: 10px;
    background: #efefef;
}
.img1{
    width: 30px;
    position:absolute;
    padding: 1px;
    margin-left: 8px;
    margin-bottom: 7px;
}
.img7{
    margin-left: 240px;
}
.img8{
    margin-left: 300px;
}
.text1 {
    height: 100%;
    background: #efefef;
    width: 100%;
    border-radius: 5%;
    padding-left: 25px;
    outline: none;
    width: 73%;
    top: -7px;
    position: relative;
    left: 15px;
    font-size: 25px;
    margin-left: 20px;
    border-style: none;
}
.add1 {
    width: 30px;
    margin-left: 11px;
    /* float: right; */
    position: absolute;
     display: inline-block;
     margin-left: 100px;
}
.btn2{
    float: right;
    margin-top: 10px;
    margin-right: 14px;
    cursor: pointer;
    padding-right: 10px;
    color:gray
}
.btn2:hover{
    color: black;
}
.btn1{
    margin-left: 14px;
    cursor: pointer;
    color:gray
}
.btn1:hover{
    color:black;
}
.do-some{
font-size: 40px;
padding: 10px;
}
.tasks1{
    padding-left: 5px;
    cursor: pointer;
    color: gray;
}
.tasks1:hover{
    color: black;
}
.tasks2, .tasks2, .tasks2{
    float: right;
    padding: 0px;
    padding-right: 5px;
    cursor: pointer;
    padding-right: 10px;
    color: gray;
}
.tasks2:hover, .tasks2:hover, .tasks2:hover{
    color: black;
}
.txt1{
    cursor: pointer;
    padding-left: 35px;
}
.txt2{
    padding-left: 32px;
}
.txt3{
    padding-left: 32px;
}
ul li{
    list-style: none;
}